acc
bddprod
bitvect
blue_counter
checkpsl
checkta
complement
defs
.deps
*.dot
eltl2tgba
emptchk
expldot
explicit
explicit2
explicit3
explprod
input
intvcomp
intvcmp2
.libs
ltl2tgba
ltlmagic
ltlprod
Makefile
Makefile.in
maskacc
mixprod
output1
output2
powerset
*.ps
randtgba
readsat
readsave
reduccmp
reductgba
spotlbtt
taatgba
tgbaread
tripprod
